<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- existing protelis style sheets 
    			<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    			<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    			<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    			<link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">	-->		
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				      <li><a href="/2018/01/31/toc-faqs.html">FAQ</a></li>
	        		<li><a href="/2018/02/09/demos.html">Demos</a></li>
	        		<li><a href="https://github.com/Protelis/Protelis">Developers</a></li>
				      <li><a href="/2018/02/21/references.html">References</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<!-- <li><a href="mailto:fake_email@gmail.com">email</a></li>-->
	        		<li><a href="https://github.com/protelis">github.com/protelis</a></li>
				</ul>
			</footer>
		</body>
	</html>
